@import "../../../../../commonStyles";

.container {
  margin-top: 15px;
  width: 100%;


  .input {
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    border: 2px solid #d0d0d0;
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      border-color: $appGreenColor;
    }
  }

  .label {
    float: left;
    font-size: 19px;
    color: #585859;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 5px;
  }
}
