
.container{
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #8f75da ;
  cursor: pointer;

}
.disable{
  background-color: #4F5B67;
  color: #3d4141;
}