@import '../../../../commonStyles';
@import '../../thems';

.container{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-top: auto;
  display: flex;
  align-items: center;
}




//BUTTON

.messageButton{
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;

}

//INPUT

.messageInput{
  background-color: $backgroundColorMenu;
  width: 100%;

}




