@import '../../../../commonStyles';
@import '../../thems';

.container{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-top: auto;
  display: flex;
  align-items: center;
}




//BUTTON

.messageButton{
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
}

//INPUT

.messageInput{
  width: 100%;
  background-color: #242F3D;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 6px 10px;
  border: none;
  &::placeholder{
    color: #4F5B67;
  }
}




