@import "../../../../../commonStyles";

/*
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);
*/

.nav {
  @include container(1170px);

  .logo {
    margin-right: auto;
  }
}

.row {
  @include flex-container(flex-end, center);
}

.logoContainer {
  flex: 2;
  @media screen and (min-width: $sm) {
    flex: 2;
  }
  @media screen and (min-width: $md) {
    flex: 2;
  }
}


.buttonContainer {
  flex: 3;
  text-align: right;

  @media screen and (min-width: $sm) {
    flex: 2;
  }

  @media screen and (min-width: $md) {
    flex: 2;
  }
}


.linkButton {
  word-break: keep-all;
  border: 2px solid $appGreenColor ;
  color: $appGreenColor;
  font-size: 14px;
  font-weight: 400 ;
  text-transform: capitalize;
  text-decoration: none;
  min-width: 110px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $appGreenColor;
    color: white;
  }

  @media screen and (min-width: $sm) {

  }

  @media screen and (min-width: $md) {

  }
  @media screen and (min-width: $lg) {
    text-transform: uppercase;
  }
}










