@import "../../commonStyles";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: #f9f9f9;
}

.titleContainer {
  max-width: 1170px;
  width: 100%;
  text-align: left;
  padding: 45px 15px;
  box-sizing: border-box;

}

.title {
  text-transform: uppercase;

  color: rgb(51, 51, 51);
  font-size: 25px;
  font-weight: 600;
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
}
.contentContainer{
  width: 100%;
  max-width: 1170px;
  margin: 30px 0;
}

.contentRow{
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;


  @include mediaBreakpointUp($lg){
    flex-direction: row;
  }



  .col{
    margin: 0 15px;
    box-shadow: 0 5px 10px 3px rgba(0,0,0,0.1);

  }

  .filterContainer{
    flex: 1;
    @include mediaBreakpointUp($lg){
      min-width: 262.5px;
      flex: 0;
    }



  }
  .filterResultContainer{
    flex: 1;
  }

}

