

$appGrey: #9ca8b7
$appOrange: #f3875d
$authorizationPageBackgroundColor: #3ea9f5
$fontFamilyAlegreyaSC: 'Alegreya SC', serif
$fontFamilyNotoSansSC: 'Noto Sans SC', sans-serif
$fontFamilyIBMPlexSans: 'IBM Plex Sans', sans-serif


$mainHeaderHeight: 40px
$mainHeaderBorder: 1px solid rgb(235,235,235)
$mainHeaderColor: #718888
$appGreenColor: #28d2d0
$appCheckedColor: #8aca6b
$test: orange
//MIXIN

=flex-container($justify-content: flex-start, $align-items: flex-start)
  display: flex
  justify-content: $justify-content
  align-items: $align-items

=container()
  display: inline-block
  max-width: 1200px
  box-sizing: border-box
  padding: 0 15px
  width: 100%








