
.link{
  display: block;
  width: 100%;
}

.logoContainer {
  width: 100%;
  height: 80px;
  text-align: center;
  display: block;
  line-height: 80px;
}


.logoImage {
  vertical-align: middle;
  height: 48px;
  line-height: 80px;
}

.logoSmall {
  height: 70px;

}