@import "../../../templates";

.list{
  width: 100%;
  @include borderBox(30px 0 0 0);

}


.listHeader{
  @include borderBox(20px 10px);
  @include flexContainer(space-between,center);
  margin-top: 15px;
  width: 100%;
  border-bottom: 1px solid rgb(238, 238, 238);

  .count{
    font-family: "Gotham SSm A", "Gotham SSm B", Halvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: black;
  }
}

.listContainer{
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 0 20px;

}