@import '../../../../commonStyles';

.container {

  @include flex-container(center, center);
  height: $mainHeaderHeight;
  border-left: $mainHeaderBorder;
  box-sizing: border-box;
  position: relative;
  color: $mainHeaderColor;
  font-weight: normal;
  font-size: 13.5px;

  .item {
    cursor: pointer;
    vertical-align: middle;
    display: inline;
    padding: 0 15px;
    border-right: $mainHeaderBorder;

    .greeting {
      margin-left: 3px;
    }

    * {
      vertical-align: middle;
      text-decoration: none;
      color: $mainHeaderColor;
    }
    a{
      font-size: 16px;
    }
  }
}

