@import "../../../commonStyles";

.header {
  @include container(970px);
  margin-top: 26px;
  padding: 0 45px;
  font-family: $fontFamilyNotoSansSC;
}

.headerRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
