
.container{
  a{
    $color:rgb(51,122,183);
    color: $color;
    font-family: Rlewat, sans-serif;
    font-size: 14px;
    text-decoration-color: $color;
    text-decoration: none;
  }
}
.icon {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  width: 11px;
  margin-right: 10px;
}