@import "../../../../templates";

$rejectColor: #b72522;
$winnerColor: #28d2d0;

.container {
  @include borderBox(20px 15px);
  width: 100%;
  margin-bottom: 10px;
  max-width: 720px;
}

.title {

}

.rejectContainer {
  border-color: $rejectColor;


  .rejectButton {
    background-color: $rejectColor;
    color: white;
  }
}

.winnerContainer {
  border-color: $winnerColor;

  .winnerButton {
    border-color: $winnerColor;
    color: $winnerColor;
  }
}

.button {
  @include borderBox(20px 30px);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Gotham SSm A", "Gotham SSm B", Halvetica, sans-serif;
  text-transform: capitalize;
}

.rejectButton {
  border-color: $rejectColor;
  color: $rejectColor;
}

.rejectedButtonStyle {
  color: white;
  background-color: $rejectColor;
}
.isWinnerButtonStyle{
  color: white;
  background-color: $winnerColor;
}
.winnerButton {
  border-color: $winnerColor;
  color: $winnerColor;
}


.disable {


}


.buttonContainer {
  display: flex;
}

.actionContainer {
  width: 100%;
}
.image{
  height: 200px;
}

.imageContainer{
  width: 100%;
  background-color: gray;
}

