@import '../../../commonStyles';

.header {
  border-bottom: $mainHeaderBorder;
  margin-bottom: 13px;
  text-align: center;
  width: 100%;

}

.container {
  @include container();
}

.row {
  flex-grow: 1;
  @include flex-container(center, center);
}

.contactDetails {
  padding: 0 15px;
  border-left: $mainHeaderBorder;
  border-right: $mainHeaderBorder;
  height: $mainHeaderHeight;
  @include flex-container(center, center);
}

.col {
  @include flex-container(center, center);
  height: $mainHeaderHeight;
  box-sizing: border-box;
  padding: 0 15px;
  flex-grow: 1;

}

.navContainer{
  justify-content: flex-end;
}

