@import '../../../../commonStyles';

.formOuter{
  background-color: #f8f8f8;
  width: 100%;
  padding: 40px 0 15px;
  text-align: center;
}

.formContainer{
  @include container(1170px, 0 15px);
  text-align: left;
  @include mediaBreakpointUp($md){
    padding: 0 30px;
  }
}

