.container{
  border: 1px solid rgba(255,255,255,0.77);
  color: white;
  font-weight: 600;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
}

.aReset{
  text-decoration: none;
}

