@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import '../../../node_modules/bootstrap/scss/mixins';
@import "../../commonStyles";

.page {
  background-color: $authorizationPageBackgroundColor;
  min-height: 100vh;
  width: 100%;
  @include flex-container(center);

  .errorContainer {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    @include flex-container(center, center);
    flex-direction: column;



    & * {
      z-index: 9999;
    }
  }

  .sinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}

.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* max-width: 1200px;
   width: 100%;*/
  box-sizing: border-box;
  padding: 20px 0;


  @include make-container();

  @include media-breakpoint-down(xs) {
    @include make-container-max-widths();
  }
}

.formRow {
  @include make-row();
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

.titleField {
  margin-top: 100px;
  margin-bottom: 28px;
}