@import '../../../../../commonStyles';

$baseColor: #cedce4;
$activeColor: white;

.containerTemplate {
  width: 100%;
  box-sizing: border-box;
  position: relative;

}

.iconContainer {
  margin: 0 10px 0 3px;
}

//desk
.iconContainerClose {
  text-align: center;
  min-width: 70px;
  left: 0;
  position: relative;
  margin-left: -30px;
}

.color {
  color: #cedce4;
}

.activeColor {
  color: white;
}

//title container
.titleContainer {
  @extend .containerTemplate;
  padding: 15px 30px;
  @include flex-container(flex-start, center);
  width: 100%;

}



//
.arrowContainer {
  margin-left: auto;

}

.submenuContainer {

}


.submenuTitle {
  position: relative;
  flex: 1;
  @include flex-container(space-between, center);

}

.submenuTitleMenuClose {
  display: none;

}


//mobile

///////////////////
.menuCloseTitleIcon {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 0;
  position: relative;
}
.menuCloseTitleIconActive{
  padding: 15px 20px;


}



.menuOpenTitleContainer {
  cursor: pointer;
  @extend .containerTemplate;
  @extend .color;
  padding: 15px 30px;
  @include flex-container(flex-start, center);
  & svg:last-child{
    margin-left: auto;
  }
  & svg:first-child{
    margin-right: 10px;
  }

  & span {
    color: inherit !important;
  }

  & svg {
    fill: $baseColor;
  }

  @include mediaBreakpointUp($md) {
    &:hover {
      span {
        color: white !important;
      }

      svg {
        fill: $activeColor;
      }
    }
  }
}

.menuOpenTitleContainerActive {
  @extend .activeColor;
  span {
    color: inherit !important;
  }

  svg {
    fill: $activeColor;
  }
}

.menuCloseTitleContainerActive {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: 100;
  white-space: nowrap;
  padding: 15px 0;
  background: linear-gradient(135deg, #8f75da 0, #727cf5 60%);
  background: linear-gradient(135deg, #8f75da 0, #727cf5 60%);
  @include flex-container(flex-start, center);
  span{
    color: white;
    margin-left: 10px;
    min-width: 190px;
    box-sizing: border-box;
    padding-right: 20px;
    text-align: left;
  }
   div{
    width: 70px;

  }
  &:hover{
    span{
      display: block;
    }
  }

}
.menuCloseActiveIconContainer{
  min-width: 70px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid red;
  svg{
    vertical-align: middle;
  }

}
