
@import "./ContestItemStylesTemplate.module";

.container {
  @include borderBox(30px 20px 10px 20px);
  margin-bottom: 15px;
  width: 100%;
  background-color: rgb(249, 250, 251);
  color: rgb(51, 51, 51);
  @include flexContainer(flex-start, flex-start, column)
}

.buttonContainer {
  @include borderBox();
  @include flexContainer(space-between, flex-end, column);
  width: 100%;

  .buttonRow {
    width: 100%;
    @include flexContainer(flex-start, center);

    .buttonCol {
      flex: 1;
    }



    .openChatButton {
      @include borderBox(15px);
      font-family: $fontFamily;
      border: 1px solid #8aca6b;
      text-align: center;
      cursor: pointer;
    }
  }
}


