@import "../../commonStyles";

.spinnerContainer {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 100vh;
  top: 0;
  bottom: 0;
background-color: #262626;
  @include flex-container(center, center);
}