
.font{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
}



$fontColor: white;
$backgroundColorMyMessageB: #2B5278;
$backgroundColorMessage: #182533;
$backgroundColorHeader: #17212B;
$backgroundColorMenu: #17212B;
$backgroundColorContent: #0E1621;
