@import "../../../commonStyles";

header {
  min-width: 100vw;
  text-align: center;
}


.topRow :checked ~ .menuContainer {

  display: block;

}

.menuContainer {
  display: none;

  @media screen and (min-width: $md) {
    display: none !important;
  }
}

.burgerContainer {
  display: inline;
  margin-left: 14px;
  margin-right: 17px;
}

.logoContainer {
  display: inline;

  @media screen and (max-width: $md) {
    max-width: 100px;
  }
}

.topRow {
  width: 100%;
  height: $topRowHeight;
  border-bottom: $topRowBorder;
  box-sizing: border-box;
  margin-bottom: 13px;
  position: relative;
}

.container {
  @include container(1170px);
}

.row {
  display: flex;
  height: $topRowHeight;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactPhoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width: $md) {
      display: none;
    }
    box-sizing: border-box;
    padding: 0 15px;
    height: $topRowHeight;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
  }
}

.leftCol {
  justify-content: flex-end;

}

.nav {
  width: 100%;
  display: inline-block;
  text-align: center;

  @media screen and (max-width: $md) {
    display: none;

  }
}

@media screen and(min-width: $md) {

  .logoContainer {
    display: none;
  }

  .burgerContainer {
    display: none;
  }

}

