
@import '../../../commonStyles';
@import '../../../bootstrap';



/*
$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
*/


.formContainer {
  width: 100%;
  @include make-container();
  max-width: 555px;
  box-sizing: border-box;
}

.fieldContainer {
  padding: 0 14px;
  box-sizing: border-box;
  width: 100%;
}

.fieldRow {
  @include make-row();
}

.col {
  @include make-col(12);
}

.fieldCol {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}


.spinnerContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @include flex-container(center, center);
}
